:root{
	--linkcolor: #d9720b;
	--backcolor: rgba(33, 45, 57, 0.902);
	--linkhover: darkorange;
}

body{
	background-color: rgba(255, 255, 224, 0.562);
}

.container a:link, .container a:visited{
	color: var(--linkcolor);
	text-decoration: none;
	font-weight:bold;
	transition-duration: 0.2s;
	text-align: left;
}

.container a:hover{
	color: var(--linkhover);
}

div.navbar-nav a{
	border-radius: 9px;
	color: white;
	padding-left:5px;
	margin-right: 10px;
	margin-left: 5px;
}
#admin {
	color: red;
}
div.navbar-nav a:hover{
	background-color: var(--linkcolor);
	border-radius: 9px;
}

.navbar-brand{
	color: darkorange;
	font-weight: bold;
	margin-left: 20px;
	transition-duration: 0.2s;
}
.navbar-brand:hover{
	color: white;
}

nav{
	background-color: var(--backcolor);
	margin-top: 7px;
	margin-right: 9px;
	margin-left: 9px;
	margin-bottom: 5px;
	border-radius: 7px;
}

#login{
	color: lightsalmon;
	font-weight: bold;
}
#login:hover{
	background-color: var(--linkhover);
	color: white;
}

@media (min-width: 1400px) {
  .container {
    max-width: 1600px;
  }
}

/*box displaying main contents*/
.box{
	display: inline-block;
	margin-top: 25px;
	margin-bottom: 25px;
	border: 2px var(--backcolor) solid;
	border-radius: 7px;
	vertical-align: top;
}

.box > div:not(.caption){
	padding-left: 8px;
	padding-right: 8px;
}

.box > button{
	justify-content: space-between;
}

.caption{
	background-color: var(--backcolor);
	color: white;
	font-weight: bold;
	font-size: x-large;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	display: flex;
	justify-content: space-between;
	padding-left: 8px;
}

.caption input{
	background-color: transparent;
	color: white;
	border: none;
	padding: 0 0 0 0;
	font-size: medium;
	padding-right: 4px;
	padding-left: 4px;
	border-radius: 5px;
	transition-duration: 0.1s;
}

.caption input:hover{
	background-color:dimgrey;
}
/*box displaying main contents end*/

/*config for two column box*/
.two_col_half{
	display: inline-block;
	vertical-align: top;
	width: 49%;
}
@media (max-width: 800px) {
	.two_col_half {
		width: 98%;
	}
}
.two_col_80{
	display: inline-block;
	vertical-align: top;
	width: 80%;
}
.two_col_20{
	display: inline-block;
	vertical-align: top;
	width: 19%;
}
.two_col_20 > div{
	width: 99%;
}
@media (max-width: 1000px){
	.two_col_80{
		width: 98%;
	}
	.two_col_20{
		width: 98%;
	}
}
.two_col_70{
	display: inline-block;
	vertical-align: top;
	width: 75%;
}
.two_col_30{
	display: inline-block;
	vertical-align: top;
	width: 24%;
}
.two_col_30 > div{
	width: 99%;
}
@media (max-width: 1000px){
	.two_col_70{
		width: 98%;
	}
	.two_col_30{
		width: 98%;
	}
}
/*config for two column box end*/

/*config for announce*/
.announce-text {
	margin-top: 0.7%;
	height: 30vh;
	font-size: 20px;
}
.announce-box{
	width: 100%;
	height: 80vh;
}
.announce-context {
	padding-left: 20px;
	font-size: 30px;
}
/*config for announce end*/

/* admin page*/
.add-box {
	display: block;
	margin: auto;
	margin-top: 3%;
}
.add-form {
	margin: 0.3em 0.5em 0.3em 0.5em;
}
.problem-text{
	margin-top: 0.7%;
	height: 20vh;
}
.io-format {
	margin-top: 0.7%;
}
.io-f{
	display: flex;
}
.io-f-space{
	width: 2.5%;
}
/* admin page end*/

textarea{
	resize: none;
	white-space: pre-wrap;
}

/* codeblock from single submission page*/
.codeblock{
	width: 99%;
	margin-top: 25px;
}
/*line number(currently doesn't work with jinja)*/
/*.codeblock div{*/
	/*counter-reset: line;*/
	/*padding-left: 7px;*/
	/*border-radius: 7px;*/
/*}*/
/*.codeblock code:before{*/
	/*counter-increment: line;*/
	/*content: counter(line);*/
	/*display: inline-block;*/
	/*border-right: 2px solid var(--linkcolor);*/
	/*padding-right: 3px;*/
	/*margin-right: 7px;*/
/*}*/

/* codeblock from single submission page end*/
