:root{
	--darkerorange: #d9720b;
}

body{
	background-color: lightgrey;
}

.container a:link, .container a:visited{
	color: var(--darkerorange);
	text-decoration: none;
	font-weight:bold;
	transition-duration: 0.2s;
}
.container a:hover{
	color: darkorange;
}

div.navbar-nav a{
	border-radius: 9px;
	color: white;
	padding-left:5px;
	padding-right: 5px;
}

div.navbar-nav a:hover{
	background-color: #ba7827;
	border-radius: 9px;
}

.navbar-brand{
	color: darkorange;
	font-weight: bold;
	margin-left: 20px;
	transition-duration: 0.2s;
}
.navbar-brand:hover{
	color: white;
}

nav{
	background-color: black;
	margin-top: 7px;
	margin-right: 9px;
	margin-left: 9px;
	margin-bottom: 5px;
	border-radius: 7px;
}

#login{
	color: lightsalmon;
	font-weight: bold;
}
#login:hover{
	background-color: #ba7827;
	color: white;
}

@media (min-width: 1400px) {
  .container {
    max-width: 1600px;
  }
}

/*box displaying main contents*/
.box{
	display: inline-block;
	margin-top: 25px;
	margin-bottom: 25px;
	border: 2px black solid;
	border-radius: 7px;
}

.box *{
	padding-left: 8px;
	padding-right: 8px;
}

.caption{
	background-color: black;
	color: white;
	font-weight: bold;
	font-size:x-large;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
