div.navbar-nav a{
	border-radius: 9px;
	color: white;
}

div.navbar-nav a:hover{
	background-color: #ba7827;
	border-radius: 9px;
}

.navbar-brand{
	color: white;
	font-weight: bold;
	margin-left: 20px;
	transition-duration: 0.2s;
}
.navbar-brand:hover{
	color: darkorange;
}

nav{
	background-color: black;
	margin-top: 7px;
	margin-right: 9px;
	margin-left: 9px;
	margin-bottom: 5px;
	border-radius: 7px;
}
