section{
	width: 100%;
}

.box{
	display: inline-block;
	margin-top: 25px;
	margin-bottom: 25px;
	border: 2px black solid;
	border-radius: 7px;
}

.box *{
	padding-left: 8px;
	padding-right: 8px;
}

.caption{
	background-color: black;
	color: white;
	font-weight: bold;
	font-size:larger;
}

