h2{
	padding-top: 10px;
}

#buttonrow a{
	background-color: var(--linkcolor);
	padding: 7px 7px 7px 7px;
	margin-right: 10px;
	margin-top: 10px;
	color: white;
	border-radius: 9px;
	transition-duration: 0.2s;
}

@media (max-width: 450px){
	#buttonrow a{
		width: 98%;
	}
}

#buttonrow a:hover{
	border-radius: 9px;
}

#submitbut:hover{
	background-color: seagreen;
}
#allsubbut:hover{
	background-color: steelblue;
}
#mysubbut:hover{
	background-color: cadetblue;
}
#rankbut:hover{
	background-color: firebrick;
}

.two_col_80{
	width: 80%;
}
.two_col_20{
	width: 19%;
}
.two_col_20 > div{
	width: 99%;
}
@media (max-width: 1000px){
	.two_col_80{
		width: 98%;
	}
	.two_col_20{
		width: 98%;
	}
}
