h2{
	padding-top: 10px;
	display: inline-block;
}
#id_box{
	display: inline-block;
	background-color: green;
	padding: 0 10 0 10;
	border-radius: 5px;
	color: white;
}

/* buttonrow styles*/
#buttonrow{
	transition-duration: 0.2s;
	padding-top: 0px;
	border-top: 1px solid lightgrey;
}
#buttonrow a{
	/*background-color: #cfcfba;*/
	color: var(--linkcolor);
	padding: 5px 15px 5px 15px;
	margin: 0 0 0 0;
	border-left: 1px solid lightgrey;
	border-bottom: 1px solid lightgrey;
}
#submitbut{
	border-bottom-left-radius: 5px;
}
#rankbut{
	border-right: 1px solid lightgrey;
	border-bottom-right-radius: 5px;
}
@media (max-width: 500px){
	#buttonrow a{
		width: 100%;
		margin: 0 0 0 0;
		border: 1px solid lightgrey;
		border-top: 0;
	}
	#submitbut{
		border-bottom-left-radius: 0;
	}
	#rankbut{
		border-bottom-left-radius: 5px;
	}
}
#buttonrow a:hover{
	background-color: var(--linkcolor);
	color: white;
}
/* buttonrow styles end*/

.two_col_80{
	width: 80%;
}
.two_col_20{
	width: 19%;
}
.two_col_20 > div{
	width: 99%;
}
@media (max-width: 1000px){
	.two_col_80{
		width: 98%;
	}
	.two_col_20{
		width: 98%;
	}
}
