#runtask{
	width: 100%;
	margin-top: 25px;
	border-radius: 7px;
}

#colorhead{
	background-color: gainsboro;
}

#small{
	display: none;
}
#small th{
	width: 30%;
}

@media (max-width: 800px){
	#small{
		display: table;
	}
	#large{
		display: none;
	}
}

#errmsg{
	background-color: lightyellow;
	width: 100%;
	font-family: monospace;
}
