.submit-box {
	margin: auto;
	margin-top: 25px;
	width: 70%;
}
#code-area{
	height: 50vh;
	margin-bottom: 1vh;
}
#choose {
	display: inline-flex;
	align-items: stretch;
}
h2{
	padding-top: 10px;
	display: inline-block;
}
#id_box{
	display: inline-block;
	background-color: green;
	padding: 0 10 0 10;
	border-radius: 5px;
	color: white;
}
#description{
	margin-top: 15px;
	margin-bottom: 9px;
}
