{% extends "admin/admin.html" %} 
{% block title %} Announcements Setting {% endblock %}
{% block admincontent %}
<div class="box add-box">
    <div class="caption">New Announcement</div>
    <form class="form-group add-form" name="addannounce" method="POST">
        <input 
            type="title"
            class="form-control" 
            style="margin-top: 0.7%;"
            id="title" 
            name="title" 
            placeholder="title"
            required
        />
        <textarea
            type="context"
            class="form-control announce-text"
            id="context" 
            name="context" 
            placeholder="Enter context"
            required
        ></textarea>
        <button style="margin-top: 0.7%;" type="submit" class="btn btn-dark">Add Announcement</button>
    </form>
</div>

<div class="box add-box">
	<div class="caption">Announcement List</div>
	<table class="table table-striped table-hover">
		<thead>
			<tr>
				<th scope="col" style="width: 15%">Author</th>
				<th scope="col" style="width: 65%">Title</th>
				<th scope="col" style="width: 10%">Time</th>
                <th scope="col" style="width: 10%">Function</th>
			</tr>
		</thead>
	    <tbody>
			{% for data in announce %}
			<tr>
				<td>{{ data['author'] }}</td>
				<td><a href='/announce/{{ data["_id"] }}'>{{ data['title'] }}</a></td>
				<td>{{ data['time'] }}</td>
                <td><a class="btn btn-danger" style="color:rgb(241, 246, 216);" href="/admin/announcedelete/{{ data['_id'] }}">Delete</a></td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
</div>

{% endblock %}
