{% extends "admin/admin.html" %} 
{% block title %} Problems Add {% endblock %}
{% block admincontent %}

<div class="box add-box">
    <div class="caption">New Problem</div>
    <form class="form-group add-form problem-form" id="add-problem" name="addproblem" method="POST">
        <input 
            type="text"
            class="form-control" 
            style="margin-top: 0.7%;"
            name="name"
            placeholder="Name of the problem"
            required
        />
        <textarea
            type="text"
            class="form-control problem-text"
            name="statement" 
            placeholder="statement"
            required
        ></textarea>

        <div class="width-100p box box-io">
            <div class="caption"> In/Out Format </div>
            <div class="io-f">
                <textarea 
                type="text"
                class="form-control io-format"
                name="i_format"
                placeholder="input format"
                required
                ></textarea>
                <div class="io-f-space"></div>
                <textarea 
                type="text"
                class="form-control io-format"
                name="o_format"
                placeholder="output format"
                required
                ></textarea>
            </div>
        </div>
        <div class="width-100p box box-io">
            <div class="caption"> In/Out Sample 
                <div style="padding: 0% 0% 0% 0%">
                    <button style="color: white;" class="btn btn-outline btn-sm" type="button" onclick="add_sample()">add sample</button> 
                    <button style="color: white;" class="btn btn-outline btn-sm" type="button" onclick="del_sample()">delete sample</button> 
                </div>      
            </div>
            <div id="io-sample">
                <div class="io-f">
                    <textarea 
                        type="text"
                        class="form-control io-format samples"
                        name="sample[]"
                        placeholder="input sample 1"
                        required
                    ></textarea>
                    <div class="io-f-space"></div>
                    <textarea 
                        type="text"
                        class="form-control io-format samples"
                        name="sample[]"
                        placeholder="output sample 1"
                        required
                    ></textarea>
                </div>
            </div>
        </div>
        <div style="display: flex">
            <div class="width-100p box box-io">
                <div class="caption">
                    Limits
                </div>
                <div class="io-f">          
                    <textarea 
                    type="text"
                    class="form-control io-format samples"
                    name="time-limit"
                    placeholder="time limit"
                    required
                    ></textarea>
                    <div class="io-f-space"></div>
                    <textarea 
                    type="text"
                    class="form-control io-format samples"
                    name="memory-limit"
                    placeholder="memory limit"
                    required
                    ></textarea>
                </div>
            </div>
            <div class="io-f-space"></div>
            <div class="width-100p box box-io">
                <div class="caption">
                    Notes
                </div>
                <div class="io-f">                 
                    <textarea 
                    type="text"
                    class="form-control io-format samples"
                    name="notes"
                    placeholder="notes"
                    required
                    ></textarea>
                </div>
            </div>
        </div>
        <button style="margin-top: 0.7%;" type="submit" class="btn btn-dark">Add Problem</button>
    </form>
    <script>
    </script>
</div>



{% endblock %}
