{% extends "admin/admin.html" %} 
{% block title %} Problems Add {% endblock %}
{% block admincontent %}

<div class="box add-box">
    <div class="caption">New Problem</div>
    <form  enctype="multipart/form-data" class="form-group add-form problem-form" id="add-problem" name="addproblem" method="POST">
        <input 
        type="text"
        class="form-control" 
        style="margin-top: 0.7%;"
        name="name"
        placeholder="Name of the problem"
        required
        />
        <textarea
        type="text"
        class="form-control problem-text"
        name="statement" 
        placeholder="statement"
        required
        ></textarea>
        
        <div style="display: flex">
            <div class="width-100p box box-io">
                <div class="caption">
                    Test Data (Zip only)
                </div>
                <div class="io-f">          
                    <input type="file" id="test_data" name="test_data" accept=".zip" required>
                </div>
            </div>
            <div class="io-f-space"></div>
            <div class="width-100p box box-io">
                <div class="caption">
                    Test Case Amount
                </div>
                <div class="io-f">
                    <input class="form-control" type="number" name="test_data_count" required>
                </div>
            </div>
        </div>

        <div class="width-100p box box-io">
            <div class="caption"> Subtask (Not Required) 
                <div style="padding: 0% 0% 0% 0%">
                    <button style="color: white;" class="btn btn-outline btn-sm" type="button" onclick="add_subtask()">add subtask</button> 
                    <button style="color: white;" class="btn btn-outline btn-sm" type="button" onclick="del_subtask()">delete subtask</button> 
                </div>      
            </div>
            <div id="subtask">

            </div>
        </div>
        <div class="width-100p box box-io">
            <div class="caption"> In/Out Format </div>
            <div class="io-f">
                <textarea 
                type="text"
                class="form-control io-format"
                name="i_format"
                placeholder="input format"
                required
                ></textarea>
                <div class="io-f-space"></div>
                <textarea 
                type="text"
                class="form-control io-format"
                name="o_format"
                placeholder="output format"
                required
                ></textarea>
            </div>
        </div>
        <div class="width-100p box box-io">
            <div class="caption"> In/Out Sample 
                <div style="padding: 0% 0% 0% 0%">
                    <button style="color: white;" class="btn btn-outline btn-sm" type="button" onclick="add_sample()">add sample</button> 
                    <button style="color: white;" class="btn btn-outline btn-sm" type="button" onclick="del_sample()">delete sample</button> 
                </div>      
            </div>
            <div id="io-sample">
                <div class="io-f">
                    <textarea 
                        type="text"
                        class="form-control io-format samples"
                        name="i_sample[]"
                        placeholder="input sample 1"
                        required
                    ></textarea>
                    <div class="io-f-space"></div>
                    <textarea 
                        type="text"
                        class="form-control io-format samples"
                        name="o_sample[]"
                        placeholder="output sample 1"
                        required
                    ></textarea>
                </div>
            </div>
        </div>
        <div style="display: flex">
            <div class="width-100p height-50p box box-io">
                <div class="caption">
                    Checker
                </div>
                <div class="io-f">          
                    <textarea 
                    type="text"
                    class="form-control io-format samples"
                    name="checker"
                    placeholder="checker"
                    required
                    ></textarea>
                </div>
            </div>
            <div class="io-f-space"></div>
            <div class="width-100p box box-io">
                <div class="caption">
                    Solution
                    <div class="dropdown">
                        <button style="color: white;" class="btn btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                            Solution type
                        </button>
                        <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton">
                            <li>
                                <button class="dropdown-item" type="button" onclick="sol_code()">Code</button>
                            </li>
                            <li>
                                <button class="dropdown-item" type="button" onclick="sol_answer()">Answer</button>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="io-f" id="sol-block">                
                    <textarea 
                    type="text"
                    class="form-control io-format samples"
                    name="solution-code"
                    placeholder="solution-code"
                    required
                    ></textarea>
                </div>
            </div>
        </div>
        <div style="display: flex">
            <div class="width-100p box box-io">
                <div class="caption">
                    Limits
                </div>
                <div class="io-f">          
                    <textarea 
                    type="text"
                    class="form-control io-format samples"
                    name="time-limit"
                    placeholder="time limit"
                    required
                    ></textarea>
                    <div class="io-f-space"></div>
                    <textarea 
                    type="text"
                    class="form-control io-format samples"
                    name="memory-limit"
                    placeholder="memory limit"
                    required
                    ></textarea>
                </div>
            </div>
            <div class="io-f-space"></div>
            <div class="width-100p box box-io">
                <div class="caption">
                    Notes&Tags
                </div>
                <div class="io-f">                 
                    <textarea 
                    type="text"
                    style="width: 69.75%; margin-right: 0.25%"
                    class="form-control io-format samples"
                    name="notes"
                    placeholder="notes"
                    required
                    ></textarea>
                    <textarea 
                    type="text"
                    style="width: 29.75%; margin-left: 0.25%"
                    class="form-control io-format samples"
                    name="tags"
                    placeholder="tags"
                    required
                    ></textarea>
                </div>
            </div>
        </div>
        <button style="margin-top: 0.7%;" type="submit" class="btn btn-dark">Add Problem</button>
    </form>
</div>



{% endblock %}
