{% extends "admin/admin.html" %} 
{% block title %} Problems Add {% endblock %}
{% block admincontent %}

<div class="box add-box">
    <div class="caption">New Problem</div>
    <form class="form-group add-form problem-form" id="add-problem" name="addannounce" method="POST">
        <input 
            type="text"
            class="form-control" 
            style="margin-top: 0.7%;"
            name="name"
            placeholder="Name of the problem"
            required
        />
        <textarea
            type="text"
            class="form-control problem-text"
            name="description" 
            placeholder="description"
            required
        ></textarea>
        <div class="io-f">
            <textarea 
                type="text"
                class="form-control io-format"
                name="i_format"
                placeholder="input format"
                required
            ></textarea>
            <div class="io-f-space"></div>
            <textarea 
                type="text"
                class="form-control io-format"
                name="o_format"
                placeholder="output format"
                required
            ></textarea>
        </div>
        <div class="io-f">
            <textarea 
                type="text"
                class="form-control io-format samples"
                name="sample[]"
                placeholder="input sample "
                required
            ></textarea>
            <div class="io-f-space"></div>
            <textarea 
                type="text"
                class="form-control io-format samples"
                name="sample[]"
                placeholder="output sample"
                required
            ></textarea>
        </div>
        <button style="margin-top: 0.7%;" type="submit" class="btn btn-dark">ADD</button>
    </form>
    <script>
    </script>
</div>



{% endblock %}
