<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx"
            crossorigin="anonymous"
        />
		<link rel="stylesheet" href="{{ url_for('static', filename = 'css/base.css') }}">
		<link rel="icon" href="{{ url_for('static', filename = 'favicon.ico') }}">
        <script src="{{ url_for('static', filename = 'js/admin.js') }}"></script>
        <title>{% block title %}Home{% endblock %}</title>
		<script>
			function get_color(color){
				if(color == 'CE') return 'lightgoldenrodyellow'
				else if(color == 'AC') return 'palegreen'
				else if(color == 'WA') return 'tomato'
				else if(color == 'TLE') return 'lightsteelblue'
				else if(color == 'RE') return 'snow'
			}
		</script>
    </head>
    <body>
		<!--navigation bar-->
        <nav class="navbar navbar-expand-md navbar-dark" style="box-shadow: 0 3px 5px black;">
            <a href="/" class="navbar-brand">LamoJudge</a>

            <button
                class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbar"
				style="margin-right: 20px;"
				>
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbar">
				<div class="navbar-nav">
					<a class="nav-item nav-link" id="problems" href="/problems">Problems</a>
					<a class="nav-item nav-link" id="submissions" href="/submissions_list">Submissions</a>
					<a class="nav-item nav-link" id="contests" href="/contests">Contests</a>
                    {% if session['user'] %}
                        {% if session['user']['admin'] == true %}
                            <a class="nav-item nav-link" class="Admin" href="/admin">Admin</a>
                        {% endif %}
                    {% endif %}
				</div>
                {% if session['logged'] == True %}
                <div class="navbar-nav ms-auto">
                    <a class="nav-item nav-link" id="seeuser" href="/user/{{session['user']['name']}}">{{session['user']['name']}}</a>
                    <a class="nav-item nav-link" id="login" href="/log-out">Log Out</a>  
                </div>
                {% else %}
                    <div class="navbar-nav ms-auto">
                        <a class="nav-item nav-link" id="signUp" href="/sign-up">Sign Up</a>
                        <a class="nav-item nav-link" id="login" href="/login">Login</a>
                    </div>
                {% endif %}
            </div>
        </nav>
		<!--navigation bar ends-->

        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
			{% if category == 'error' %}
			<div class="position-fixed bottom-0 end-1 p-3" style="z-index: 11">
				<div class="toast text-white bg-danger border-0 show fade" role="alert" aria-live="assertive" aria-atomic="true">
					<div class="d-flex">
						<div class="toast-body">{{ message }}</div>
						<button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
					</div>
				</div>
			</div>
			{% else %}
			<div class="position-fixed bottom-0 end-1 p-3" style="z-index: 11">
				<div class="toast text-white bg-primary border-0 show fade" role="alert" aria-live="assertive" aria-atomic="true">
					<div class="d-flex">
						<div class="toast-body">{{ message }}</div>
						<button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
					</div>
				</div>
			</div>
			{% endif %}
            {% endfor %}
        {% endif%}
        {% endwith %}

        <div class="container">
          {% block content %}
          網頁設計出了錯誤，請複製目前的網址並回傳給開發者團隊
          There is something wrong with this web, please copy the link and send it to the developer team.
          email A: qmore0305@gmail.com
          email B: 
          {% endblock %}
        </div>

        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
            crossorigin="anonymous"
        ></script>

    </body>
</html>
