<link rel="stylesheet" href="{{ url_for("static", filename = "css/home.css") }}">
{% extends "base.html" %} 

{% block title %}LamoJudge{% endblock %}

{% block content %}

<div class="box">
	<div class="caption">Announcement</div>
	<table class="table table-striped table-hover">
		<thead>
			<tr>
				<th scope="col"></th>
			</tr>
		</thead>
	</table>
</div>

<div class="box">
	<div class="caption">Leader Board</div>
	<table class="table table-striped table-hover">
		<thead>
			<tr>
				<th scope="col"></th>
			</tr>
		</thead>
	</table>
</div>

{% endblock %}
