<link rel="stylesheet" href="{{ url_for("static", filename = "css/problems.css") }}">
{% extends "base.html" %}
{% block content %}

<div class="box" style="width: 100%;">
	<div class="caption">Problems</div>
    <table class="table table-striped table-hover">
        <thead class="thead-light" style="font-weight: bold;">
            <tr>
                <th scope="col" >#</th>
                <th scope="col">Name</th>
                <th scope="col">TopCoder</th>
                <th scope="col">AC(User)</th>
                <th scope="col">AC(Submission)</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>First problem</td>
                <td>laialan</td>
                <td>100%(1/1)</td>
                <td>50%(1/2)</td>
            </tr>
            <tr>
                <th scope="row" href="/">2</th>
                <td>Second problem</td>
                <td>momo</td>
                <td>100%(1/1)</td>
                <td>1%(1/100)</td>
            </tr>

        </tbody>
    </table>
</div>

{% endblock %}
