<link rel="stylesheet" href="{{ url_for("static", filename = "css/problem_page.css") }}">
<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
{% extends "base.html" %}
{% block content %}

<h2>name_of_the_problem</h2>
<div id="id_box">{{ pid }}</div>
<div class="two_col_80">
	<div class="navbar navbar-expand-md" id="buttonrow" style="width: 98%; justify-content: left;">
		<a id="submitbut" href="/submit/{{ pid }}">Submit</a>
		<a id="allsubbut" href="/">All Submission</a>
		<a id="mysubbut" href="/">My Submission</a>
		<a id="rankbut" href="/">Rank</a>
	</div>

	<div class="box" style="width: 98%;">
		<div class="caption">Statement</div>
		<div>
			test statement \(dp[i]\)
		</div>
	</div>

	<div class="box two_col_half">
		<div class="caption">Input</div>
		<div>
			10
		</div>
	</div>

	<div class="box two_col_half">
		<div class="caption">Output</div>
		<div>
			123<br>nl
		</div>
	</div>

	<div class="box two_col_half">
		<div class="caption tocopy">Sample Input 1 <input type="button" value="copy"></div>
		<div>
			123123123
		</div>
	</div>

	<div class="box two_col_half">
		<div class="caption tocopy">Sample Output 1 <input type="button" value="copy"></div>
		<div>
			lol
		</div>
	</div>
</div>

<div class="two_col_20">
	<div class="box">
		<div class="caption">Problem Info</div>
		<table class="table">
			<tbody>
				<tr>
					<th>Author</th>
					<td>laialan</td>
				</tr>
				<tr>
					<th>Tags</th>
					<td>weak</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="box">
		<div class="caption">Limits</div>
		<table class="table">
			<tbody>
				<tr>
					<th>Time Limit</th>
					<td>1s</td>
				</tr>
				<tr>
					<th>Memory Limit</th>
					<td>128MB</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="box">
		<div class="caption">Status</div>
		<table class="table">
			<tbody>
				<tr>
					<th>Topcoder</th>
					<td>momo</td>
				</tr>
				<tr>
					<th>AC Rate</th>
					<td>10%(1/10)</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

<script>
	const copybtn = document.querySelectorAll('.tocopy input')
	const tt = document.querySelectorAll('.tocopy + div')
	for(let i = 0; i < copybtn.length; i++){
		copybtn[i].addEventListener('click', function() {
			const range = document.createRange()
			range.selectNode(tt[i])
			const select = window.getSelection()
			select.removeAllRanges()
			select.addRange(range)
			document.execCommand('copy')
			select.removeAllRanges()
			copybtn[i].value = "copied!"
			setTimeout(function() {
				copybtn[i].value = "copy"
			}, 800)
		})
	}
</script>
{% endblock %}
