<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.7.0/styles/github-gist.min.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.7.0/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
<link rel="stylesheet" href="{{ url_for('static', filename = 'css/single_submission.css') }}">
{% extends "base.html" %}
{% block content %}

<div class="box table-responsive" style="width: 100%;">
	<div class="caption">Details</div>
	<table class="table" id="large">
		<thead>
			<tr id="colorhead">
				<th>Submission ID</th>
				<th>Problem ID</th>
				<th>User</th>
				<th>Final Verdict</th>
				<th>Submit Time</th>
				<th>Language</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>{{ id }}</td>
				<td><a href="/problems/{{ pid }}">{{ pid }}</a></td>
				<td>{{ user }}</td>
				<td><span id="verdict">loading..</span></td>
				<td>{{ subtime }}</td>
				<td>{{ lang }}</td>
			</tr>
		</tbody>
	</table>
	<table class="table" id="small">
		<tbody>
			<tr>
				<th id="colorhead">Submission ID</th>
				<td>{{ id }}</td>
			</tr>
			<tr>
				<th id="colorhead">Problem ID</th>
				<td><a href="/problems/{{ pid }}">{{ pid }}</a></td>
			</tr>
			<tr>
				<th id="colorhead">Submit Time</th>
				<td>{{ subtime }}</td>
			</tr>
			<tr>
				<th id="colorhead">User</th>
				<td>{{ user }}</td>
			</tr>
			<tr>
				<th id="colorhead">Final Verdict</th>
				<td><span id="verdict">loading..</span></td>
			</tr>
			<tr>
				<th id="colorhead">Language</th>
				<td>{{ lang }}</td>
			</tr>
		</tbody>
	</table>
	<div id="errmsg"></div>
</div>
<div id="codeblock">
	<table>
		{% for i in range(code|length) %}
		<tr>
			<th>{{ i+1 }}</th>
			<td><div class="code_content cpp">{{ code[i] }}</div></td>
		</tr>
		{% endfor %}
	</table>
</div>
<div class="box table-responsive" id="runtask">
	<div class="caption">Results</div>
	<table class="table">
		<thead>
			<tr>
				<th scope="col">Subtask</th>
				<th scope="col">Verdict</th>
				<th scope="col">Time</th>
				<th scope="col">Memory</th>
			</tr>
		</thead>
		{% for i in range(task|length) %}
			{% for j in range(task[i]|length)%}
			<tbody>
				<tr id="tk{{ i+j }}">
					<td>{{ i+1 }}</td>
					<td>running..</td>
					<td>- ms</td>
					<td>- kb</td>
				</tr>
			</tbody>
			{% endfor %}
		{% endfor %}
	</table>
</div>

<script type="text/javascript">

const verd = document.getElementById('verdict')
var curi = 0
var curj = 0
var upd = setInterval(function(){
	var req = new XMLHttpRequest()
	req.open('GET', window.location.href+'/get_data')
	req.onreadystatechange = function(){
		if(req.readyState == 4){
			ret = JSON.parse(req.responseText)
			while(curi < ret.subtask.length){
				curj = 0
				while(curj < ret.subtask[curi].length){
					if(ret.subtask[curi][curj][0] != ""){
						const info = document.getElementById('tk' + String(curi+curj))
						info.childNodes[3].innerText = ret.subtask[curi][curj][0]
						if(ret.subtask[curi][curj][0] != 'abort'){
							info.childNodes[5].innerText = ret.subtask[curi][curj][1] + " ms"
							info.childNodes[7].innerText = ret.subtask[curi][curj][2] + " kb"
						}
						curj += 1
					}
					else break
				}
				if(curj >= ret.subtask[curi].length) curi += 1
				else break
			}
			if(ret.done == 1){
				verd.innerText = ret.verdict
				clearInterval(upd)

				// colors for different results
				const color = document.getElementById('colorhead')
				if(ret.verdict == 'CE'){
					for(let i=0;i<ret.subtask.length;++i) for(let j=0;j<ret.subtask[i].length;++j){
						const info = document.getElementById('tk' + String(i + j))
						info.childNodes[3].innerText = 'abort'
					}
				}
				color.style = "background-color: "+get_color(ret.verdict)

				// show error message
				if(ret.err != ''){
					document.getElementById('errmsg').innerText = ret.err
				}
			}
		}
	}
	req.send()
}, 100)

</script>

{% endblock %}
