{% extends "base.html" %}
{% block title %} Submissions {% endblock %}
{% block content %}

<div class="box" style="width: 100%;">
	<div class="caption">Submissions</div>
	<div class="table-responsive" style="padding: 0 0 0 0;">
		<table class="table table-striped table-hover">
			<thead style="font-weight: bold;">
				<tr>
					<th style="width: 10%;">Submission ID</th>
					<th>Problem ID</th>
					<th style="width: 30%;">Submitter</th>
					<th>Result</th>
					<th>Language</th>
					<th>Time</th>
				</tr>
			</thead>
			<tbody>
				{% for i in data %}
					<tr>
						<th><a href="/submissions/{{ i['_id'] }}">{{ i['_id'] }}</a></th>
						<th><a href="/problems/{{ i['prob'] }}">{{ i['prob'] }}</a></th>
						<th><a href="/{{ i['userid'] }}">{{ i['userid'] }}</a></th>
						<th class="result">{{ i['verdict'] }}</th>
						<th>{{ i['lang'] }}</th>
						<th>{{ i['subtime'] }}</th>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
	<div>
		<ul class="pagination justify-content-center">
			{% if page > 0 %}
			<li class="page-item"><a class="page-link" href="/submissions_list?page={{ page-1 }}">&lt;</a></li>
			{% endif %}

			{% for i in range(left, page) %}
				<li class="page-item"><a class="page-link" href="/submissions_list?page={{ i }}">{{ i }}</a></li>
			{% endfor %}

			<li class="page-item"><a class="page-link" id="cur_page" href="/submissions_list?page={{ page }}">{{ page }}</a></li>

			{% for i in range(page+1, right+1) %}
				<li class="page-item"><a class="page-link" href="/submissions_list?page={{ i }}">{{ i }}</a></li>
			{% endfor %}

            {% if page < max_page %}
			<li class="page-item"><a class="page-link" href="/submissions_list?page={{ page+1 }}">&gt;</a></li>
			{% endif %}
		</ul>
	</div>
</div>

<script type="text/javascript">
	const get = document.getElementsByClassName('result')
	for(var sub of get){
		sub.style = "background-color:"+get_color(sub.innerText)
	}
</script>

{% endblock %}
