<link rel="stylesheet" href="{{ url_for("static", filename = "css/submit.css") }}">
{% extends "base.html" %}
{% block title %} Submit {% endblock %}
{% block content %}
<div class="submit-box">
	<h3>Problem id. {{ id }}</h3>
	<form class="form-group" action="/submit/{{ id }}" method="post">
		<textarea class="form-control" id="code-area" type="text" name="code"></textarea>
		<div id="choose">
			<select class="form-select" style="margin-right: 10px" name="lang">
				<option value="none">選擇你的程式語言</option>
				<option value="c++">c++</option>
				<option value="c">c(not done)</option>
				<option value="python">python(not done)</option>
			</select>
			<input class="btn btn-primary" type="submit" value="submit code">
		</div>
	</form>
</div>
{% endblock %}
