{% extends "base.html" %}
{% block title %} Submit {% endblock %}
{% block content %}
<div class="box submit-box">
	<form class="form-group submit-form" action="/submit/{{ id }}" method="post">
		<textarea class="form-control code-area" type="text" name="code"></textarea>
		<div class="choose">
			<select style="border-radius: 5px;" name="lang">
				<option value="none">選擇你的程式語言</option>
				<option value="c++">c++</option>
				<option value="c">c(not done)</option>
				<option value="python">python(not done)</option>
			</select>
			<div class = "submit-space"></div>
			<input class="btn btn-outline-secondary" type="submit" value="submit code">
		</div>
	</form>
</div>
{% endblock %}
