{% extends "base.html" %}
{% block content %}
<style>
    th{
        padding-left: 0px !important;
    }
</style>

<div class="two_col_30">
   <div style="margin: 25px 10px 10px 15px;">
        <h5 style="margin-top: 20px; margin-bottom: 20px;"><b>{{ show['name'] }}</b></h5>
        <div class="table-responsive">
            <table class="table">
                <tr>
                    <th>Admin</th>
                    <td>
                        {% if show['admin'] %}
                        yes
                        {% else %}
                        no
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th>Email</th>
                    <td>{{ show['email'] }}</td>
                </tr>
                <tr>
                    <th>Accepted</th>
                    <td>{{ show['AC'] }}</td>
                </tr>
                <tr>
                    <th>Attempted</th>
                    <td>{{ show['attempted'] }}</td>
                </tr>
            </table>
        </div>
        <a href="/submissions_list/?user={{ show['name'] }}" class="">Submission List</a>
    </div>
</div>

<div class="two_col_70">
    <div class="box" style="width: 100%;">
        <div class="caption">Solved Tasks</div>
        <div class="container">
            <div class="row">
            {% for i in show['solved'] %}
                <a class="col" href="/problems/{{ i }}">{{ i }}</a>
            {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock %}